@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Source+Code+Pro:wght@300;500&family=Ubuntu:wght@300;400;500&display=swap');



$Default-Font: 'Ubuntu', sans-serif;
$Chinese-Font: 'Noto Sans TC', sans-serif;
$Logo-Font: 'Source Code Pro', monospace;